#banner {
  max-height: 400px;
  max-width: auto;
}

h1 {
  text-align: center;
  color: red;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects-h2 {
  text-align: center;
}

h3 {
  text-align: center;
  color: red;
}

.btn {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.returnbtn {
  margin-top: 50px;
}

.refresh {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.results1 {
  display:none;
  margin-bottom: 100px;
}

.space {
  display:none;
}

.tropic {
  display: none;
}

.europe {
  display: none;
}

.mountain {
  display: none;
}

.resultsImg {
  max-height: 500px;
  max-width: auto;
}
