#banner {
  max-height: 400px;
  max-width: 1140px;
  margin: auto;
}

body {
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size:cover;
}

h1 {
  text-align: center;
  color: red;
  font-family: cursive;
  margin-bottom: 40px;
  font-weight: bolder;
  font-size: 60px;
}


h3 {
  text-align: center;
  font-family: fantasy;
}

p {
  margin-left: 100px;
  margin-right: 100px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects-h2 {
  text-align: center;
}

.btn {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.returnbtn {
  margin-top: 50px;
}

.refresh {
  display: block;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.results1 {
  display:none;
  margin-bottom: 100px;
  text-align: center justify;
}

.space {
  display:none;
}

.tropic {
  display: none;
}

.europe {
  display: none;
}

.mountain {
  display: none;
}

.resultsImg {
  max-height: 500px;
  max-width: auto;
}

.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  background: rgb(183, 193, 197);
  background: rgba(190, 191, 182, 0.5);
}
